ENVIRONMENT=prod
LOGGING_LEVEL=INFO
TOKEN=
PREFIX=??
INVITE_LINK=
ALLOWED_MEDIA_TYPES=["image/jpeg", "image/webp", "image/png"]
STORAGE_BACKEND=azure
AZURE_INT_URL=
AZURE_EXT_URL=
AZURE_CONTAINER=media
AZURE_CONN_STR=
REDIS_URL=redis://redis:6379/0
POSTGRES_DSN=postgresql://downloader:downloader@postgres:5432/downloader
